/* body { margin:0; padding:0; }
.left-column { position:absolute; top:0; width:235px; height:100%; background:#090909; }
.right-column { margin-left:235px; background:yellow; height:100%; width:100%; } */


*{
	box-sizing: border-box;
}


/* diffrents couleurs  */
:root{
	--bgcolor:#c9c7c3;
	--blue:#2fb7fe;
    --bleu-foncer:#080739;    
	--white:#f4f7ff;
	
	
}

/* Aligner le cv au centre de la page  */

.center{
	width: 800px;
	height: 900px;
	margin: 100px auto;
	background: var(--white);
	box-shadow: 5px 15px 10px 10px #3d3f4238;
}

.section-gauche{
	width: 250px;
	height: 900px;
	float: left;
    background-color: var(--bleu-foncer);
}
.section-droite{
	padding: 40px 30px;
    background: var(--white);
    width: 68%;
    float: left;
    height: 900px;
}

/*  profile */
section img{
    border-radius: 120px;
    width: 122px;
    height: 120px;
   margin-left: 50px;
   margin-top: 20px;
}
p{
    font-weight: 700;
}

h4{
    color: white;
    
}

 h3{
    color: var(--blue);
}
ul{
    margin-top: -10px;
}

.trait_bleu{
    width: 25px;
    background-color: rgb(8, 11, 201);
    border: 1px solid blue;
    height: 3px;
    margin-top: -15px;
    /* margin-top: -20px; */
}
.nav_black_white_col{
    color: rgba(240, 248, 255, 0.767);
    line-height: 25px;
}
.divertissement{
    line-height: 8px;
}
.div_all p{
margin-top: 5px;
line-height: 20px;
}
.lang{
    margin-top: -20px;
}
.lang p{
    line-height: 15px;

}

.container{
    display: block;
    margin-left: 15px;
}

.langage div{
    margin: 6px;
}
.lagage span{
    margin-left: -5px;
}
.framework span{
    margin-left: -90px;
}
.rond{
margin-left:2px ;
padding-left: 5px;
}

.framework_autres{
    float: right;
    display: block;
    margin-top: -143px;
    margin-left: -20px;
}

@media screen and (max-width: 500px){

    .center{
        /* flex-flow: column wrap; */
        margin: 3px ;
        top: 30px;
       
        box-sizing: border-box;
    }
}